# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Build / dist
dist/
build/

# Cachés
.cache/
.npm/
.yarn/

# IDEs y SO
.vscode/
.idea/
.DS_Store
Thumbs.db
