.Contenttransition {
  margin-top: 100px;
  transition: all 1s;
  /* background-color: lavender; */
}
.Contenttransition2 {
  margin-top: 10px;
  /* height: 100%;/ */
  /* transition: all 2s; */
  /* transition: all 0.5s ease; */
}


.wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper-overlay {
  /* height: 100%; */
  width: 99%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
}
.header {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 99%;
  min-height: min-content;
}
.content {
  height: max-content;
}

.login-input {
  width: 85% !important;
}

.forgot-input {
  width: 80% !important;
}
