.signup {
  text-align: right;
  margin-top: 50px !important;
}
.login-link {
  text-align: left;
  font: normal normal normal 25px/33px Exo;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  text-decoration: none;
}
.login-link:hover {
  text-decoration: none;
  text-align: left;
  font: normal normal normal 25px/33px Exo;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  text-decoration: none;
}
.topbarText {
  text-align: right;
  color: gray;
  font-size: 28px;
}
.translationLOGO {
  margin-top: auto !important;
  text-align: left;
}
.languageList {
  background-color: transparent !important;
  color: lightslategrey !important;
}
.languageListActive {
  background-color: transparent !important;
  color: white !important;
}
@media screen and (max-width: 600px) {
  .main-logo {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
}
.test {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.gray-heading-font {
  color: #ffffff;
  font-family: "Exo";
  line-height: 33px;
}

.language-css {
  font-size: 18px;
  color: #494949;
  line-height: 0px;
}

.loginBox__buttonGroup {
  display: flex;
  align-items: center;
}
.loginBox__bottomText {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}
.loginBox__bottomText1 {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.loginBox__button {
  padding: 2px 10px;
  border: none;
}

.loginBox__buttonText {
  text-transform: uppercase;
  font-size: 20px;
}

.label {
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.forgotPassword__subTitleText {
  font-size: 19px;
  color: white;
  padding-top: 5px;
}

.userBox__listText {
  color: white;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  text-decoration: none;
  padding: 2px 10px;
  border: none !important;
}

.userBox__listText:hover {
  text-decoration: none;
}
